h1 {
  color: red;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 50px bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  color: purple;
  font-family: "IBM Plex Sans", sans-serif;
}

h3 {
  text-transform: capitalize;
}

body {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid;
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

.current-conditions {
  font-family: "IBM Plex Sans", sans-serif;

  list-style: none;
  position: relative;
  top: -50px;
  text-align: left;
}

.today-temp strong {
  font-size: 40px;
}

.temp-unit {
  position: relative;
  font-size: 16px;
  top: -17px;
}

.code {
  font-size: 15px;
  position: relative;
  bottom: -70px;
}

.temp-unit .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.temp-unit .active:hover {
  text-decoration: underline;
  cursor: grab;
  color: purple;
}

.future-weather {
  margin-top: 20px;
  text-align: center;
}
